<!-- ###CAR DEKHO QUESTION###  -->

# CAR DEKHO DATASET {EDA} :-

# Import Libraries & Dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Users\b2xbt\Downloads\CAR DETAILS FROM CAR DEKHO.csv")

In [3]:
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [4]:
df.sample()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3982,Chevrolet Cruze LT,2012,380000,90000,Diesel,Individual,Manual,Fourth & Above Owner

# HIGHEST KM DRIVEN CAR?

In [6]:
df['km_driven'].value_counts()

km_driven
70000     236
80000     228
50000     222
120000    220
60000     215
         ...
19107       1
32077       1
6480        1
118400      1
112198      1
Name: count, Length: 770, dtype: int64

In [7]:
df['km_driven'].max()

806599

In [9]:
df[df['km_driven']==df['km_driven'].max()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
1243,Maruti Swift VXI BSIII,2009,250000,806599,Petrol,Dealer,Manual,First Owner

# Name the top 5 costly cars?

In [11]:
df['selling_price'].value_counts()

selling_price
300000     162
250000     125
350000     122
550000     107
600000     103
          ...
2100000      1
828999       1
1119000      1
746000       1
865000       1
Name: count, Length: 445, dtype: int64

In [12]:
df.sort_values(by='selling_price',).tail(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
1023,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2239,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner

# Name the cheapest cars and how much it driven?

In [14]:
df['selling_price'].value_counts()

selling_price
300000     162
250000     125
350000     122
550000     107
600000     103
          ...
2100000      1
828999       1
1119000      1
746000       1
865000       1
Name: count, Length: 445, dtype: int64

In [15]:
df.sort_values(by='selling_price').head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2662,Ford Ikon 1.6 ZXI NXt,2005,20000,25000,Petrol,Individual,Manual,Second Owner
2495,Ford Ikon 1.4 ZXi,2000,22000,42743,Petrol,Dealer,Manual,Third Owner
2444,Maruti 800 EX,2004,30000,60000,Petrol,Individual,Manual,Third Owner
3206,OpelCorsa 1.4 GL,2002,35000,100000,Petrol,Individual,Manual,Third Owner
2849,Tata Nano Std BSII,2009,35000,50000,Petrol,Individual,Manual,Third Owner

# Avg Selling of cars?

In [17]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

# Name the costly cars and how much it driven,with there selling price?

In [19]:
df.value_counts()

name                              year  selling_price  km_driven  fuel    seller_type       transmission  owner
Renault Duster 85PS Diesel RxL    2013  450000         1000       Diesel  Dealer            Manual        Second Owner    12
Hyundai Verna 1.6 VTVT SX         2015  760000         55340      Petrol  Trustmark Dealer  Manual        First Owner     12
Hyundai Santro GS                 2005  80000          56580      Petrol  Dealer            Manual        First Owner     12
Maruti S-Cross Zeta DDiS 200 SH   2015  750000         45974      Diesel  Trustmark Dealer  Manual        First Owner     12
Maruti SX4 Vxi BSIV               2012  225000         110000     Petrol  Individual        Manual        Second Owner    12
                                                                                                                          ..
Hyundai i20 Asta Option 1.4 CRDi  2016  550000         60000      Diesel  Individual        Manual        First Owner      1
                                        580000         57000      Diesel  Individual        Manual        First Owner      1
                                        600000         50000      Diesel  Individual        Manual        Second Owner     1
                                        650000         40000      Diesel  Individual        Manual        First Owner      1
Volvo XC60 D5 Inscription         2014  2000000        130000     Diesel  Individual        Automatic     First Owner      1
Name: count, Length: 3577, dtype: int64

In [20]:
df['selling_price'].value_counts()

selling_price
300000     162
250000     125
350000     122
550000     107
600000     103
          ...
2100000      1
828999       1
1119000      1
746000       1
865000       1
Name: count, Length: 445, dtype: int64

In [21]:
df['selling_price'].max()

8900000

In [22]:
df[df['selling_price']==df['selling_price'].max()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner

# Name the Costly cars of Automatic transmission with price?

In [24]:
automatic_df = df[df['transmission'] == 'Automatic']
automatic_df[automatic_df['selling_price']==automatic_df['selling_price'].max()]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner

# Give car details based on year input?

In [26]:
df['year'].value_counts()

year
2017    466
2015    421
2012    415
2013    386
2014    367
2018    366
2016    357
2011    271
2010    234
2019    195
2009    193
2008    145
2007    134
2006    110
2005     85
2020     48
2004     42
2003     23
2002     21
2001     20
1998     12
2000     12
1999     10
1997      3
1996      2
1995      1
1992      1
Name: count, dtype: int64

In [27]:
# ----------------------------------------------------------------------


# Q-8: Give car details based on selling price input, ex, car details above 10lakh price?


# -----------------------------------------------------------------------

In [28]:
df[df['selling_price']>=1000000]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
12,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
25,Toyota Corolla Altis 1.8 VL CVT,2018,1650000,25000,Petrol,Dealer,Automatic,First Owner
27,Hyundai Venue SX Opt Diesel,2019,1195000,5000,Diesel,Dealer,Manual,First Owner
29,Jaguar XF 2.2 Litre Luxury,2014,1964999,28000,Diesel,Dealer,Automatic,First Owner
30,Mercedes-Benz New C-Class 220 CDI AT,2013,1425000,59000,Diesel,Dealer,Automatic,First Owner
...,...,...,...,...,...,...,...,...
4302,BMW 7 Series 730Ld,2006,1050000,30000,Diesel,Dealer,Automatic,First Owner
4304,Audi Q5 3.0 TDI Quattro Technology,2018,3899000,22000,Diesel,Dealer,Automatic,First Owner
4311,Toyota Camry Hybrid 2.5,2017,1900000,20118,Petrol,Dealer,Automatic,First Owner
4312,Maruti Ertiga 1.5 VDI,2019,1000000,15000,Diesel,Individual,Manual,First Owner
4313,Ford Endeavour 2.2 Titanium AT 4X2,2019,2800000,10000,Diesel,Individual,Automatic,First Owner

# 40Lac rs or above car details?

In [30]:
df[df['selling_price']>=4000000]

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
89,Mercedes-Benz S-Class S 350d Connoisseurs Edition,2017,8150000,6500,Diesel,Dealer,Automatic,First Owner
101,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
539,Mercedes-Benz GL-Class 350 CDI Blue Efficiency,2014,4400000,100000,Diesel,Individual,Automatic,Second Owner
555,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
574,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
593,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
612,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
731,Land Rover Discovery Sport TD4 HSE 7S,2018,4000000,68000,Diesel,Individual,Automatic,First Owner
900,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
919,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
963,Audi A5 Sportback,2020,4700000,1500,Diesel,Individual,Automatic,First Owner
968,BMW 7 Series Signature 730Ld,2014,4000000,47000,Diesel,Individual,Automatic,First Owner
988,Land Rover Discovery S 2.0 SD4,2018,4000000,68000,Petrol,Individual,Automatic,First Owner
1023,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
1836,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2178,Mercedes-Benz GL-Class 350 CDI Blue Efficiency,2014,4400000,100000,Diesel,Individual,Automatic,Second Owner
2239,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2258,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
2580,Mercedes-Benz E-Class Exclusive E 200 BSIV,2018,4500000,9800,Petrol,Dealer,Automatic,First Owner
2739,BMW X5 xDrive 30d xLine,2019,4950000,30000,Diesel,Dealer,Automatic,First Owner
3453,BMW 5 Series 520d Luxury Line,2018,4800000,9422,Diesel,Individual,Automatic,First Owner
3872,Audi RS7 2015-2019 Sportback Performance,2016,8900000,13000,Petrol,Dealer,Automatic,First Owner
3875,Land Rover Range Rover 4.4 Diesel LWB Vogue SE,2010,4200000,100000,Diesel,Dealer,Automatic,First Owner
3883,BMW 5 Series 520d Luxury Line,2019,4800000,12999,Diesel,Dealer,Automatic,First Owner
3969,Mercedes-Benz GLS 2016-2020 350d 4MATIC,2016,5500000,77350,Diesel,Dealer,Automatic,First Owner
4047,Volvo XC 90 D5 Inscription BSIV,2017,4500000,80000,Diesel,Individual,Automatic,First Owner

In [31]:
df[df['selling_price']>=4000000].shape

(26, 8)

#  Give car details based on Brand name?

In [33]:
df[df['name']=='BMW 5 Series 520d Luxury Line']

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
204,BMW 5 Series 520d Luxury Line,2017,2900000,40000,Diesel,Individual,Automatic,First Owner
3261,BMW 5 Series 520d Luxury Line,2017,2900000,40000,Diesel,Individual,Automatic,First Owner
3453,BMW 5 Series 520d Luxury Line,2018,4800000,9422,Diesel,Individual,Automatic,First Owner
3883,BMW 5 Series 520d Luxury Line,2019,4800000,12999,Diesel,Dealer,Automatic,First Owner

In [34]:
df.insert(0,'model',value = df['name'].apply(lambda x: x.split(' ')[0]))

# 2nd car details...........?

In [37]:
df[df['model']=='Jaguar']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
29,Jaguar,Jaguar XF 2.2 Litre Luxury,2014,1964999,28000,Diesel,Dealer,Automatic,First Owner
163,Jaguar,Jaguar XJ 5.0 L V8 Supercharged,2010,2550000,40000,Petrol,Individual,Automatic,Second Owner
536,Jaguar,Jaguar XF 5.0 Litre V8 Petrol,2012,2050000,66363,Petrol,Dealer,Automatic,Second Owner
1417,Jaguar,Jaguar XF 3.0 Litre S Premium Luxury,2013,2000000,64000,Diesel,Individual,Automatic,Second Owner
1532,Jaguar,Jaguar XF 3.0 Litre S Premium Luxury,2012,1800000,50000,Diesel,Individual,Automatic,Second Owner
2175,Jaguar,Jaguar XF 5.0 Litre V8 Petrol,2012,2050000,66363,Petrol,Dealer,Automatic,Second Owner

#  Brand vs Fuel type car details?

In [39]:
df.sample()

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
1354,Hyundai,Hyundai Xcent 1.2 VTVT S,2019,660000,7000,Petrol,Individual,Manual,Second Owner

In [40]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [41]:
df[df['fuel']=='LPG']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
157,Maruti,Maruti Wagon R DUO LPG,2014,210000,90000,LPG,Individual,Manual,First Owner
222,Maruti,Maruti Omni LPG CARGO BSIII W IMMOBILISER,2009,80000,90000,LPG,Individual,Manual,Second Owner
483,Hyundai,Hyundai EON LPG Magna Plus,2012,180000,90000,LPG,Individual,Manual,First Owner
495,Hyundai,Hyundai Santro Xing GLS Audio LPG,2012,250000,100000,LPG,Individual,Manual,First Owner
657,Hyundai,Hyundai i10 Magna LPG,2013,250000,88600,LPG,Individual,Manual,First Owner
703,Hyundai,Hyundai Santro Xing GL Plus LPG,2011,229999,60000,LPG,Individual,Manual,Second Owner
1355,Maruti,Maruti Wagon R LXI LPG BSIV,2012,220000,80000,LPG,Individual,Manual,Second Owner
1435,Hyundai,Hyundai i10 Magna LPG,2014,290000,29000,LPG,Individual,Manual,First Owner
1670,Maruti,Maruti Wagon R LXI DUO BS IV,2012,180000,60000,LPG,Individual,Manual,First Owner
1699,Maruti,Maruti Omni 5 Str STD LPG,1998,50000,35000,LPG,Individual,Manual,Second Owner
1702,Maruti,Maruti 800 DUO AC LPG,2009,85000,50000,LPG,Individual,Manual,Second Owner
1810,Maruti,Maruti Wagon R LXI DUO BSIII,2009,155000,60000,LPG,Individual,Manual,Second Owner
1942,Maruti,Maruti Wagon R LXI DUO BSIII,2008,125000,152000,LPG,Individual,Manual,Second Owner
1998,Hyundai,Hyundai i10 Magna LPG,2013,275000,90000,LPG,Individual,Manual,Second Owner
2056,Maruti,Maruti Omni LPG CARGO BSIII W IMMOBILISER,2009,80000,90000,LPG,Individual,Manual,Second Owner
2380,Maruti,Maruti Wagon R Duo Lxi,2010,240000,50000,LPG,Dealer,Manual,First Owner
2546,Maruti,Maruti Omni LPG STD BSIV,2006,60000,135000,LPG,Individual,Manual,Fourth & Above Owner
2804,Maruti,Maruti Wagon R LXI DUO BSIII,2007,100000,70000,LPG,Individual,Manual,Third Owner
3341,Chevrolet,Chevrolet Beat LT LPG,2011,200000,110000,LPG,Individual,Manual,First Owner
3394,Hyundai,Hyundai EON LPG Magna Plus,2012,170000,170000,LPG,Individual,Manual,Third Owner
3407,Maruti,Maruti Wagon R Duo Lxi,2010,120000,90000,LPG,Individual,Manual,Second Owner
3752,Hyundai,Hyundai EON LPG Magna Plus,2015,240000,110000,LPG,Individual,Manual,First Owner
3781,Maruti,Maruti Wagon R LXI DUO BSIII,2007,70000,162000,LPG,Individual,Manual,First Owner

In [42]:
df[df['fuel']=='Petrol']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
3,Datsun,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
5,Maruti,Maruti Alto LX BSIII,2007,140000,125000,Petrol,Individual,Manual,First Owner
6,Hyundai,Hyundai Xcent 1.2 Kappa S,2016,550000,25000,Petrol,Individual,Manual,First Owner
...,...,...,...,...,...,...,...,...,...
4326,Honda,Honda City 1.5 GXI,2005,65000,150000,Petrol,Individual,Manual,Third Owner
4327,Tata,Tata Nano XM,2015,190000,60000,Petrol,Individual,Manual,Second Owner
4329,Tata,Tata Manza Aura Safire BS IV,2010,160000,60000,Petrol,Individual,Manual,Second Owner
4337,Maruti,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4339,Renault,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [43]:
df[df['fuel']=='Diesel']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
2,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
4,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
15,Hyundai,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
17,Honda,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
27,Hyundai,Hyundai Venue SX Opt Diesel,2019,1195000,5000,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...,...,...
4333,Maruti,Maruti Ritz VDi,2012,225000,90000,Diesel,Individual,Manual,Second Owner
4334,Toyota,Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV,2012,600000,170000,Diesel,Individual,Manual,First Owner
4335,Hyundai,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4338,Hyundai,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner

In [44]:
df[df['fuel']=='CNG']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
9,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
22,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
176,Maruti,Maruti Alto K10 LXI CNG,2020,282000,40000,CNG,Individual,Manual,First Owner
351,Tata,Tata Indigo CS Emax CNG GLX,2014,185000,72000,CNG,Dealer,Manual,First Owner
352,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2012,229999,75000,CNG,Dealer,Manual,First Owner
361,Hyundai,Hyundai Santro Xing GLS CNG,2010,130000,98000,CNG,Individual,Manual,Second Owner
664,Hyundai,Hyundai Santro Xing GL PLUS CNG,2007,90000,80000,CNG,Individual,Manual,Third Owner
712,Maruti,Maruti Ertiga VXI CNG,2013,525000,56228,CNG,Dealer,Manual,First Owner
824,Maruti,Maruti Alto 800 CNG LXI,2012,170000,97000,CNG,Individual,Manual,Second Owner
863,Hyundai,Hyundai Accent GLE CNG,2009,160000,70000,CNG,Individual,Manual,Third Owner
1138,Maruti,Maruti Wagon R LXI CNG,2013,250000,71000,CNG,Individual,Manual,Second Owner
1140,Maruti,Maruti Wagon R LXI CNG,2013,250000,71000,CNG,Individual,Manual,Second Owner
1594,Hyundai,Hyundai Accent GLE CNG,2010,145000,90000,CNG,Individual,Manual,Second Owner
1686,Chevrolet,Chevrolet Aveo 1.4 CNG,2011,229999,100000,CNG,Individual,Manual,First Owner
1694,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2012,160000,70000,CNG,Individual,Manual,Second Owner
2013,Maruti,Maruti Alto 800 CNG LXI Optional,2019,300000,120000,CNG,Individual,Manual,First Owner
2092,Maruti,Maruti Wagon R LXI CNG,2016,350000,30000,CNG,Individual,Manual,Second Owner
2149,Hyundai,Hyundai Santro AT CNG,2005,130000,110000,CNG,Individual,Manual,Second Owner
2493,Maruti,Maruti Alto Green LXi (CNG),2010,88000,80251,CNG,Dealer,Manual,Second Owner
2734,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2010,170000,80000,CNG,Individual,Manual,Fourth & Above Owner
2785,Hyundai,Hyundai Santro Magna CNG BSIV,2019,520000,10000,CNG,Individual,Manual,First Owner
2802,Maruti,Maruti Alto K10 LXI CNG Optional,2016,300000,50000,CNG,Individual,Manual,First Owner
2974,Maruti,Maruti Zen Estilo LXI Green (CNG),2010,145000,68000,CNG,Individual,Manual,Second Owner
3014,Maruti,Maruti Omni CNG,2007,45000,100000,CNG,Individual,Manual,Fourth & Above Owner
3048,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2019,470000,10000,CNG,Individual,Manual,First Owner
3090,Maruti,Maruti Wagon R CNG LXI,2013,310000,59100,CNG,Dealer,Manual,First Owner
3112,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2020,495000,7000,CNG,Individual,Manual,First Owner
3190,Maruti,Maruti Alto 800 LXI CNG,2013,245000,64111,CNG,Dealer,Manual,First Owner
3464,Maruti,Maruti Ertiga VXI CNG,2018,587000,80000,CNG,Individual,Manual,First Owner
3477,Maruti,Maruti Wagon R LXI CNG,2011,160000,60000,CNG,Individual,Manual,Second Owner
3482,Maruti,Maruti Wagon R LXI CNG,2016,325000,80000,CNG,Individual,Manual,Second Owner
3723,Maruti,Maruti Wagon R LXI CNG,2010,195000,80000,CNG,Individual,Manual,Second Owner
3773,Hyundai,Hyundai Accent Executive CNG,2012,185000,67000,CNG,Dealer,Manual,Second Owner
3778,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2019,470000,4000,CNG,Individual,Manual,First Owner
3835,Maruti,Maruti Zen Estilo LXI Green (CNG),2010,110000,80000,CNG,Individual,Manual,Fourth & Above Owner
4001,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
4063,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2017,440000,14100,CNG,Dealer,Manual,First Owner
4076,Maruti,Maruti Ertiga VXI CNG,2014,595000,56600,CNG,Dealer,Manual,First Owner
4140,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2018,409999,45000,CNG,Individual,Manual,First Owner
4152,Hyundai,Hyundai Accent Executive CNG,2010,140000,110000,CNG,Individual,Manual,First Owner

# Owner vs fuel vs year selling price?

In [46]:
df[df['owner']=='Third Owner']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
44,Audi,Audi Q7 35 TDI Quattro Premium,2009,1250000,78000,Diesel,Dealer,Automatic,Third Owner
51,Hyundai,Hyundai Santro Xing GLS,2009,150000,79000,Petrol,Individual,Manual,Third Owner
74,Toyota,Toyota Innova 2.5 V Diesel 8-seater,2009,500000,120000,Diesel,Individual,Manual,Third Owner
76,Maruti,Maruti Swift 1.3 VXi,2006,130000,110000,Petrol,Individual,Manual,Third Owner
82,Hyundai,Hyundai Getz GLS,2005,80000,120000,Petrol,Individual,Manual,Third Owner
...,...,...,...,...,...,...,...,...,...
4276,Ford,Ford Fiesta 1.6 ZXi Duratec,2009,233000,58000,Petrol,Individual,Manual,Third Owner
4288,Maruti,Maruti Alto LX BSIII,2008,110000,120000,Petrol,Individual,Manual,Third Owner
4307,Mahindra,Mahindra Xylo H4,2019,599000,15000,Diesel,Individual,Manual,Third Owner
4326,Honda,Honda City 1.5 GXI,2005,65000,150000,Petrol,Individual,Manual,Third Owner
4331,Ford,Ford EcoSport 1.5 TDCi Titanium BSIV,2015,530000,175000,Diesel,Individual,Manual,Third Owner

# Fuel vs km_driven?

In [49]:
df[df['fuel']=='CNG']

,model,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
9,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
22,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
176,Maruti,Maruti Alto K10 LXI CNG,2020,282000,40000,CNG,Individual,Manual,First Owner
351,Tata,Tata Indigo CS Emax CNG GLX,2014,185000,72000,CNG,Dealer,Manual,First Owner
352,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2012,229999,75000,CNG,Dealer,Manual,First Owner
361,Hyundai,Hyundai Santro Xing GLS CNG,2010,130000,98000,CNG,Individual,Manual,Second Owner
664,Hyundai,Hyundai Santro Xing GL PLUS CNG,2007,90000,80000,CNG,Individual,Manual,Third Owner
712,Maruti,Maruti Ertiga VXI CNG,2013,525000,56228,CNG,Dealer,Manual,First Owner
824,Maruti,Maruti Alto 800 CNG LXI,2012,170000,97000,CNG,Individual,Manual,Second Owner
863,Hyundai,Hyundai Accent GLE CNG,2009,160000,70000,CNG,Individual,Manual,Third Owner
1138,Maruti,Maruti Wagon R LXI CNG,2013,250000,71000,CNG,Individual,Manual,Second Owner
1140,Maruti,Maruti Wagon R LXI CNG,2013,250000,71000,CNG,Individual,Manual,Second Owner
1594,Hyundai,Hyundai Accent GLE CNG,2010,145000,90000,CNG,Individual,Manual,Second Owner
1686,Chevrolet,Chevrolet Aveo 1.4 CNG,2011,229999,100000,CNG,Individual,Manual,First Owner
1694,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2012,160000,70000,CNG,Individual,Manual,Second Owner
2013,Maruti,Maruti Alto 800 CNG LXI Optional,2019,300000,120000,CNG,Individual,Manual,First Owner
2092,Maruti,Maruti Wagon R LXI CNG,2016,350000,30000,CNG,Individual,Manual,Second Owner
2149,Hyundai,Hyundai Santro AT CNG,2005,130000,110000,CNG,Individual,Manual,Second Owner
2493,Maruti,Maruti Alto Green LXi (CNG),2010,88000,80251,CNG,Dealer,Manual,Second Owner
2734,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2010,170000,80000,CNG,Individual,Manual,Fourth & Above Owner
2785,Hyundai,Hyundai Santro Magna CNG BSIV,2019,520000,10000,CNG,Individual,Manual,First Owner
2802,Maruti,Maruti Alto K10 LXI CNG Optional,2016,300000,50000,CNG,Individual,Manual,First Owner
2974,Maruti,Maruti Zen Estilo LXI Green (CNG),2010,145000,68000,CNG,Individual,Manual,Second Owner
3014,Maruti,Maruti Omni CNG,2007,45000,100000,CNG,Individual,Manual,Fourth & Above Owner
3048,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2019,470000,10000,CNG,Individual,Manual,First Owner
3090,Maruti,Maruti Wagon R CNG LXI,2013,310000,59100,CNG,Dealer,Manual,First Owner
3112,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2020,495000,7000,CNG,Individual,Manual,First Owner
3190,Maruti,Maruti Alto 800 LXI CNG,2013,245000,64111,CNG,Dealer,Manual,First Owner
3464,Maruti,Maruti Ertiga VXI CNG,2018,587000,80000,CNG,Individual,Manual,First Owner
3477,Maruti,Maruti Wagon R LXI CNG,2011,160000,60000,CNG,Individual,Manual,Second Owner
3482,Maruti,Maruti Wagon R LXI CNG,2016,325000,80000,CNG,Individual,Manual,Second Owner
3723,Maruti,Maruti Wagon R LXI CNG,2010,195000,80000,CNG,Individual,Manual,Second Owner
3773,Hyundai,Hyundai Accent Executive CNG,2012,185000,67000,CNG,Dealer,Manual,Second Owner
3778,Maruti,Maruti Eeco CNG 5 Seater AC BSIV,2019,470000,4000,CNG,Individual,Manual,First Owner
3835,Maruti,Maruti Zen Estilo LXI Green (CNG),2010,110000,80000,CNG,Individual,Manual,Fourth & Above Owner
4001,Maruti,Maruti Celerio Green VXI,2017,365000,78000,CNG,Individual,Manual,First Owner
4063,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2017,440000,14100,CNG,Dealer,Manual,First Owner
4076,Maruti,Maruti Ertiga VXI CNG,2014,595000,56600,CNG,Dealer,Manual,First Owner
4140,Maruti,Maruti Eeco 5 STR With AC Plus HTR CNG,2018,409999,45000,CNG,Individual,Manual,First Owner
4152,Hyundai,Hyundai Accent Executive CNG,2010,140000,110000,CNG,Individual,Manual,First Owner

**owner**

# DONE

# LINK ðŸ”—
https://www.linkedin.com/in/satnam13/ , https://github.com/Satnamsingh-SQL